h1
{
font-size:50px;
color:white;
}
h3
{
font-size:40px;
color:beige;
float:right;
margin-right:950px;
}

button
{
color:beige;
background-color:red;
font-size:15px;
height:35px;
width:150px;
border-radius:10px;
}

td
{
width:300px;
}
th{
font-size:40px;
color:beige;
}